<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}|HALA MADRID</title>

    <link href="node_modules/boostrap/dist/css/boostrap.css">
    <script src="node_modules/boostrap/dist/css/boostrap.js"> </script>

<body>
    <h1>hola soy una plantilla</h1>

    {% block content %}{% endblock %}
</body>

</html>